@import '~perfect-scrollbar/src/css/main.scss';
@import '~react-dates/css/variables.scss';
@import '~react-dates/css/styles.scss';
@import "~font-awesome/css/font-awesome.css";


// http://paletton.com/#uid=23H0Z0kqyYL61+qi9ZbGUVVLPrf
$text-color: #333030;
$background-color: #e3dede;
$main-color: #3E83F9;
$dark-main-color: #063990;
$accent-color: #FFA400;
$accent-color-red: #FE2B48;

$bs-small: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$bs-medium: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$bs-big: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

$br-medium: 5px;

$turquoise: $dark-main-color; // override bulmas default color
@import "~bulma";
@import "modal";



// fix cuz bulma overrides
.CalendarMonth td {
  text-align: center;
}

body {
  height: 100%;
}

html {
  height: 100%;
  overflow-y: auto;
}

#app {
  height: 100%;
}

.MainSection {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Header {
  margin-bottom: 20px;
  background-color: $main-color;
  box-shadow: $bs-small;

  &-logoPlaceholder {
    font-size: 24px;
    font-weight: 600;
    color: $main-color;
    width: 30px;
    height: 30px;
    background-color: $accent-color;
  }

  &-subtitle {
    position: relative;
    margin-left: 5px;
    bottom: -5px;
    color: $accent-color;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    border-bottom: 2px solid $accent-color;
  }

  .Header-link {
    color: rgba(255, 255, 255, 0.7);

    &:hover {
      color: rgba(255, 255, 255, 0.9);;
    }
  }
}

.Main {
  display: flex;
  height: 100%;
  margin-top: -20px;
}

.Stage {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: whitesmoke;
}

.EventsHeader {
  background-color: white;
  margin: 0 20px 20px 0;
  min-height: 80px;
  padding: 10px 10px 10px 20px;
  display: flex;
  box-shadow: $bs-small;
  border-bottom-right-radius: $br-medium;

  &-left {
    flex: 1;
    display: flex;
    align-items: center;
  }

  &-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &-filter {
    margin-right: 10px;
  }


}

.StatsPanel {
  display: flex;
  flex-direction: column;
}

.EventsMain {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 20px;
  background-color: white;
  box-shadow: $bs-small;
  border-radius: $br-medium;


  &-header {
    padding: 20px 10px;
    margin-bottom: 10px;
    min-height: 50px;
    display: flex;
  }

  &-headerLeft {
    flex: 1;
  }

  &-headerCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }

  &-headerRight {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &-chartWrap {
    height: 100%;
  }
}

.EventsChartSwitcher {
  padding: 10px;
  display: flex;
  cursor: pointer;

  &-item {
    font-size: 24px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    &.is-active {
      border-bottom: 2px solid $dark-main-color;
    }
  }
}

.EventsFooter {
  background-color: white;
  margin: 20px;
  padding: 10px;
  box-shadow: $bs-small;
  border-radius: $br-medium;
}

.SidePanel {
  background-color: darken(whitesmoke, 2%);
  min-width: 200px;
  max-width: 200px;
  min-height: 100%;
  padding: 20px 0 0;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  box-shadow: $bs-medium;
  z-index: 1;

  @media (max-width: 768px) {
    width: 100px;
  }

  &-header {
    background-color: white;
    min-height: 80px;
    margin: 0 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: $bs-small;
    transition: all 0.2s cubic-bezier(.25,.8,.25,1);

    &:hover {
      background-color: darken(white, 5%);
    }
  }


  &-eventsList {
    height: 100%;
    background-color: white;
    //padding-right: 15px;
    //margin-right: -15px;
  }

  &-searchBox {
    padding-bottom: 5px;
    background-color: white;
    input {
      width: 100%;
      padding: 0 10px;
      //margin-bottom: 10px;
      font-size: 20px;
      height: 40px;
      border: none;
      border-bottom: 1px solid $dark-main-color;
      &:focus {
        outline: none;
      }
    }
  }


}

.EventsListItem {
  background-color: white;
  padding: 10px 0 5px 15px;
  //margin: 10px 0;
  //border-bottom: 1px solid $text-color;
  cursor: pointer;
}

.EventsOverview {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

}

.StageApplications {
  background-color: white;
  flex: 1;
  display: flex;

  &-container {
    padding: 5vw 15vw;
    flex: 1;
    display: flex;
    justify-content: center;
  }

  &-content {
    flex: 1;
    max-width: 600px;
  }
}

.ApplicationsList {
  &-item {
    display: flex;
    padding-right: 1vw;
    cursor: pointer;
  }
  &-itemName {
    width: 100%;
    cursor: pointer;
  }
}

.ApplicationsCreateNew {
  &-input {
    font-size: 28px;
    border: none;
    border-bottom: 1px solid black;
    margin:0 15px 15px 0;
    &:focus {
      outline: none;
    }
  }
}

.ApplicationSettings {
  flex: 1;
  max-width: 600px;

  &-header {
    display: flex;
    margin-bottom: 3vw;

    &Left {
      flex: 1;
    }

    &Right {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  &-bodySection {
    margin-bottom: 50px;

    hr {
      margin: 10px 0;
    }

  }

  &-bodyHeader {
    margin-bottom: 0 !important; // TODO fix this by either removing or reconfiguring bulma
  }
}

.ApplicationsFilters {

  &-addFilter {
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }

  &-addFilterInputs span {
    margin-right: 10px;
  }

  &-listItem {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 10px 0;
  }
}

.ApplicationSettings-general {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.Login {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  &-form {
    padding: 2.5vw;
    background-color: white;
    border-radius: $br-medium;
    button {
      margin-top: 20px;
    }
  }

}

.StageEvents, .StatsPanel {
  height: 100%;
  background-color: inherit;
}