@import "variables";
@import "vendors.scss";
@import "sections/all";

// fix cuz bulma overrides
.CalendarMonth td {
  text-align: center;
}

body {
  height: 100%;
}

html {
  height: 100%;
  overflow-y: auto;
}

.EventsHeader {
  background-color: white;
  margin: 0 20px 20px 0;
  min-height: 80px;
  padding: 10px 10px 10px 20px;
  display: flex;
  box-shadow: $bs-small;
  border-bottom-right-radius: $br-medium;

  &-left {
    flex: 1;
    display: flex;
    align-items: center;
  }

  &-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &-filter {
    margin-right: 10px;
  }


}

.StatsPanel {
  display: flex;
  flex-direction: column;
}

.EventsMain {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 20px;
  background-color: white;
  box-shadow: $bs-small;
  border-radius: $br-medium;


  &-header {
    padding: 20px 10px;
    margin-bottom: 10px;
    min-height: 50px;
    display: flex;
  }

  &-headerLeft {
    flex: 1;
  }

  &-headerCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }

  &-headerRight {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &-chartWrap {
    height: 100%;
  }
}

.EventsChartSwitcher {
  padding: 10px;
  display: flex;
  cursor: pointer;

  &-item {
    font-size: 24px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    &.is-active {
      border-bottom: 2px solid $dark-main-color;
    }
  }
}

.EventsFooter {
  background-color: white;
  margin: 20px;
  padding: 10px;
  box-shadow: $bs-small;
  border-radius: $br-medium;
}

.EventsOverview {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

}

.StageApplications {
  background-color: white;
  flex: 1;
  display: flex;

  &-container {
    padding: 5vw 15vw;
    flex: 1;
    display: flex;
    justify-content: center;
  }

  &-content {
    flex: 1;
    max-width: 600px;
  }
}

.ApplicationsList {
  &-item {
    display: flex;
    padding-right: 1vw;
    cursor: pointer;
  }
  &-itemName {
    width: 100%;
    cursor: pointer;
  }
}

.ApplicationsCreateNew {
  &-input {
    font-size: 28px;
    border: none;
    border-bottom: 1px solid black;
    margin:0 15px 15px 0;
    &:focus {
      outline: none;
    }
  }
}

.ApplicationSettings {
  flex: 1;
  max-width: 600px;

  &-header {
    display: flex;
    margin-bottom: 3vw;

    &Left {
      flex: 1;
    }

    &Right {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  &-bodySection {
    margin-bottom: 50px;

    hr {
      margin: 10px 0;
    }

  }

  &-bodyHeader {
    margin-bottom: 0 !important; // TODO fix this by either removing or reconfiguring bulma
  }
}

.ApplicationsFilters {

  &-addFilter {
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }

  &-addFilterInputs span {
    margin-right: 10px;
  }

  &-listItem {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 10px 0;
  }
}

.ApplicationSettings-general {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.StageEvents, .StatsPanel {
  height: 100%;
  background-color: inherit;
}