$text-color: #333030;
$background-color: #e3dede;
$main-color: #3E83F9;
$dark-main-color: #063990;
$accent-color: #FFA400;
$accent-color-red: #FE2B48;

$bs-small: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$bs-medium: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$bs-big: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

$br-medium: 5px;

$turquoise: $dark-main-color; // override bulmas default color